<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <div>
    
    <div class="currency-box">
      <div class="currency-box__contents">
        <h3>Moneros ({{xmrCount}})</h3> 
        today at <strong>{{xmrCurrentPrice | currency}}</strong>
        <br><br>

        Investment: <strong>{{usdFromXmrWhenBought | currency }}</strong> 
        <br>

        on {{xmrBuyDate | date}} at {{xmrBuyPrice | currency}}

        <div [class.color__green]="usdFromXmr >= usdFromXmrWhenBought" 
            [class.color__red]="usdFromXmr < usdFromXmrWhenBought">
          <br>
          ROI: <strong>{{ usdFromXmr | currency }}</strong> ({{usdFromXmr / usdFromXmrWhenBought * 100 | number : '1.1-2'}}%)
        </div>
      </div>
    </div>
    
    <div class="currency-box">
      <div class="currency-box__contents">
        <h3>Bitcoins ({{btcCount}})</h3>
        today at <strong>{{btcCurrentPrice | currency}}</strong>
        <br><br>
        
        Investment: <strong>{{usdFromBtcWhenBought | currency }}</strong>
        <br>
        
        on {{btcBuyDate | date}} at {{btcBuyPrice | currency}}

        <div [class.color__green]="usdFromBtc >= usdFromBtcWhenBought" 
            [class.color__red]="usdFromBtc < usdFromBtcWhenBought">
            <br>
          ROI: <strong>{{ usdFromBtc | currency }}</strong> ({{usdFromBtc / usdFromBtcWhenBought * 100 | number : '1.1-2'}}%)
        </div>
      </div>
    </div>

    <div class="currency-box">
      <div class="currency-box__contents">
        <h3>Totals</h3>
        <br>

        Investment: <strong>{{totalInvestment | currency }}</strong>
        <br>

        <div [class.color__green]="totalReturn >= totalInvestment" 
            [class.color__red]="totalReturn < totalInvestment">
          ROI: <strong>{{ totalReturn | currency }}</strong> ({{totalReturn / totalInvestment * 100 | number : '1.1-2'}}%)
        </div>
      </div>
    </div>
    
  </div>
</div>